{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "always",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ]
  }
}
